@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --mainGreen: #00b207;
  --alphaGreen: rgba(5, 196, 12, 0.788);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

#root {
  position: relative;
  overflow: hidden;
}

::-webkit-scrollbar{
  width: 5px;
  background-color: var(--mainGreen);
}

::-webkit-scrollbar-thumb{
  background-color: green;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
